body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../show_video_in_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1368px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1358px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../show_video_in_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:80px;
    width:1362px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:20px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:1358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:147px;
    top:100px;
    width:161px;
    height:141px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:147px;
    top:100px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:147px;
    top:126px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:147px;
    top:151px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:194px;
    top:211px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:147px;
    top:241px;
    width:161px;
    height:204px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../show_video_in_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:147px;
    top:465px;
    width:161px;
    height:99px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:99px;
}

.u11 {
    position:absolute;
    left:2px;
    top:42px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../show_video_in_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:147px;
    top:445px;
    width:161px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../show_video_in_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:147px;
    top:564px;
    width:161px;
    height:18px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:24px;
}

.u15 {
    position:absolute;
    left:2px;
    top:1px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../show_video_in_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:147px;
    top:582px;
    width:161px;
    height:97px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:97px;
}

.u17 {
    position:absolute;
    left:2px;
    top:40px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../show_video_in_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:147px;
    top:699px;
    width:161px;
    height:99px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:99px;
}

.u19 {
    position:absolute;
    left:2px;
    top:42px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../show_video_in_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:147px;
    top:679px;
    width:161px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../show_video_in_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:147px;
    top:818px;
    width:161px;
    height:99px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:99px;
}

.u23 {
    position:absolute;
    left:2px;
    top:42px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../show_video_in_files/u12_normal.png');
}

.u24_container {
    position:absolute;
    left:147px;
    top:798px;
    width:161px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../show_video_in_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:147px;
    top:917px;
    width:161px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:29px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:360px;
    top:195px;
    width:430px;
    height:173px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:340px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:436px;
    top:250px;
    width:279px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:360px;
    top:394px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:571px;
    top:394px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_normal {
    background-image: url('../show_video_in_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:340px;
    top:443px;
    width:49px;
    height:22px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:28px;
}

.u34 {
    position:absolute;
    left:2px;
    top:3px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:850px;
    top:258px;
    width:150px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:360px;
    top:491px;
    width:430px;
    height:173px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:360px;
    top:911px;
    width:430px;
    height:173px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:360px;
    top:705px;
    width:430px;
    height:173px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:854px;
    top:567px;
    width:114px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:854px;
    top:776px;
    width:114px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:854px;
    top:982px;
    width:114px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:560px;
    top:1134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1013px;
    top:436px;
    width:162px;
    height:116px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:1013px;
    top:310px;
    width:162px;
    height:126px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:1013px;
    top:189px;
    width:162px;
    height:121px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#0000FF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54_normal {
    background-image: url('../show_video_in_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:1013px;
    top:100px;
    width:162px;
    height:47px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:53px;
}

.u55 {
    position:absolute;
    left:2px;
    top:16px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../show_video_in_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:1013px;
    top:147px;
    width:162px;
    height:42px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:48px;
}

.u57 {
    position:absolute;
    left:2px;
    top:13px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:1013px;
    top:310px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:1013px;
    top:436px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:1013px;
    top:591px;
    width:162px;
    height:141px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:1013px;
    top:591px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1070px;
    top:28px;
    width:200px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../show_video_in_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:1013px;
    top:552px;
    width:162px;
    height:39px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:168px;
    height:45px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:147px;
    top:176px;
    width:161px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_normal {
    background-image: url('../show_video_in_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:340px;
    top:105px;
    width:440px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:80px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:80px;
}

.u69 {
    position:absolute;
    left:2px;
    top:12px;
    width:1358px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_container {
    position:absolute;
    left:147px;
    top:465px;
    width:160px;
    height:99px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:99px;
}

.u71 {
    position:absolute;
    left:2px;
    top:42px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_container {
    position:absolute;
    left:147px;
    top:582px;
    width:161px;
    height:97px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:97px;
}

.u73 {
    position:absolute;
    left:2px;
    top:40px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_container {
    position:absolute;
    left:147px;
    top:699px;
    width:161px;
    height:99px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:99px;
}

.u75 {
    position:absolute;
    left:2px;
    top:42px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_container {
    position:absolute;
    left:147px;
    top:818px;
    width:161px;
    height:99px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:99px;
}

.u77 {
    position:absolute;
    left:2px;
    top:42px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

