body {
    margin: 0px;
    background-color: #DDFFDD;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Log_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1368px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1358px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../Log_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1362px;
    height:3px;
}

.u2 {
    position:absolute;
    left:0px;
    top:90px;
    width:1362px;
    height:10px;
    
}

.u3_normal {
    background-image: url('../Log_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:80px;
    width:1362px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:20px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:1358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:267px;
    top:174px;
    width:280px;
    height:307px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:267px;
    top:174px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:361px;
    top:237px;
    width:136px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:361px;
    top:296px;
    width:136px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:281px;
    top:237px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:281px;
    top:296px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:361px;
    top:354px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:281px;
    top:354px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Log_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:470px;
    top:354px;
    width:50px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:25px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:361px;
    top:403px;
    width:56px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:470px;
    top:403px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:767px;
    top:174px;
    width:335px;
    height:111px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:767px;
    top:174px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:361px;
    top:438px;
    width:160px;
    height:27px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:27px;
    
}

.u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:267px;
    top:120px;
    width:835px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u22 {
    position:absolute;
    left:361px;
    top:321px;
    width:160px;
    height:24px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:24px;
    
}

.u23 {
    position:absolute;
    left:0px;
    top:6px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Log_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:179px;
    top:110px;
    width:46px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:45px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:179px;
    top:174px;
    width:71px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1362px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:80px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:1358px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Log_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:767px;
    top:174px;
    width:335px;
    height:226px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:335px;
    height:226px;
}

.u30 {
    position:absolute;
    left:2px;
    top:105px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:777px;
    top:184px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

